<div class="flex flex-column">
  <span class="text-lg mb-4"></span>

  <mat-form-field>
    <mat-label>Nombre Completo</mat-label>
    <input type="text" matInput placeholder="Nombre completo del usuario">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="Al menos 8 caracteres y 1 mayuscula ">
  </mat-form-field>

  <button mat-button mat-flat-button color="primary">
    <mat-icon>login</mat-icon>Ingresar</button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/login">¿Ya tienes cuenta? Iniciar Sesión</a>
  </div>
</div>
